.form-submit {
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.3rem;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-duration);

  &.size-small {
    height: 2rem;
    gap: 0.2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  &.size-normal,
  &.size-big {
    height: 3rem;
    gap: 0.3rem;
    padding: 0 0.75rem;
    font-size: 1.5rem;
  }

  &.short {
    width: fit-content;
  }
}

.theme-light {
  .form-submit {
    color: var(--white);

    &:disabled {
      background: var(--gray-100);
      color: var(--gray-400);
    }

    &.color-teal {
      background: var(--teal-500);

      &:hover:not(:disabled) {
        background: var(--teal-600);
      }

      &.outline {
        color: var(--teal-500);
        background: transparent;
        border: 1px solid var(--teal-500);

        &:hover:not(:disabled) {
          background: var(--teal-50);
        }
      }
    }

    &.color-red {
      background: var(--red-500);

      &:hover:not(:disabled) {
        background: var(--red-600);
      }

      &.outline {
        color: var(--red-500);
        background: transparent;
        border: 1px solid var(--red-500);

        &:hover:not(:disabled) {
          background: var(--red-100);
        }
      }
    }
  }
}

.theme-dark {
  .form-submit {
    color: var(--gray-700);

    &:disabled {
      background: var(--white-alpha-200);
      color: var(--white-alpha-900);
    }

    &.color-teal {
      background: var(--teal-200);

      &:hover:not(:disabled) {
        background: var(--teal-300);
      }

      &.outline {
        color: var(--teal-200);
        background: transparent;
        border: 1px solid var(--teal-200);

        &:hover:not(:disabled) {
          background: color-mix(in srgb, var(--teal-900) 50%, transparent);
        }
      }
    }

    &.color-red {
      background: var(--red-200);

      &:hover:not(:disabled) {
        background: var(--red-300);
      }

      &.outline {
        color: var(--red-200);
        background: transparent;
        border: 1px solid var(--red-200);

        &:hover:not(:disabled) {
          background: color-mix(in srgb, var(--red-900) 25%, transparent);
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .form-submit.size-normal {
    height: 2.5rem;
    gap: 0.25rem;
    padding: 0 0.625rem;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .form-submit.size-normal {
    height: 2rem;
    gap: 0.2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
  }
}
