.form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 1px 3px 0 var(--black-alpha-300), 0 1px 2px 0 var(--black-alpha-200);

  &.undecorated {
    gap: 0;
    padding: 0;
    box-shadow: none;
  }
}

.theme-light {
  .form:not(.undecorated) {
    background: var(--white);
  }
}

.theme-dark {
  .form:not(.undecorated) {
    background: var(--gray-700);
  }
}
  