.form-alert {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3rem;
}

.alert-notification,
.alert-close {
  padding: 1rem 0.5rem;
}

.alert-notification {
  align-items: center;
  gap: 0.5rem;
}

.theme-light {
  .form-alert {
    &.color-green {
      color: var(--green-700);
      background: var(--green-100);
    }

    &.color-red {
      color: var(--red-700);
      background: var(--red-100);
    }
  }
}

.theme-dark {
  .form-alert {
    &.color-green {
      color: var(--green-400);
      background: color-mix(in srgb, var(--green-900) 50%, transparent);
    }

    &.color-red {
      color: var(--red-400);
      background: color-mix(in srgb, var(--red-900) 25%, transparent);
    }
  }
}
