.form-color-picker {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 0;
    border-radius: 0.3rem;
  }
}

.theme-light {
  .form-color-picker {
    border: 1px solid var(--gray-400);
  }
}

.theme-dark {
  .form-color-picker {
    border: 1px solid var(--gray-500);
  }
}
