.form-input {
  width: 100%;
  flex-direction: column;
  transition: var(--transition-duration);
}

.field {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.3rem;
  background: transparent;

  &:focus {
    outline: none;
  }

  &.size-small {
    height: 2rem;
    gap: 0.2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  &.size-normal,
  &.size-big {
    height: 3rem;
    gap: 0.3rem;
    padding: 0 0.75rem;
    font-size: 1.5rem;
  }
}

.theme-light {
  .field {
    border: 1px solid var(--gray-400);
    color: var(--gray-700);
    caret-color: var(--gray-700);

    &::placeholder {
      color: var(--gray-700);
    }

    &:focus {
      border: 1px solid var(--teal-500);
    }
  }
}

.theme-dark {
  .field {
    border: 1px solid var(--gray-500);
    color: var(--gray-200);
    caret-color: var(--gray-200);

    &::placeholder {
      color: var(--gray-200);
    }

    &:focus {
      border: 1px solid var(--teal-200);
    }
  }
}

@media screen and (min-width: 480px) {
  .field {
    text-align: left;

    &.size-normal {
      height: 2.5rem;
      gap: 0.25rem;
      padding: 0 0.625rem;
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .field {
    &.size-normal {
      height: 2rem;
      gap: 0.2rem;
      padding: 0 0.5rem;
      font-size: 1rem;
    }
  }
}
