.form-section {
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;

  &.align-start {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }
}

@media screen and (min-width: 480px) {
  .form-section {
    &.direction-row {
      flex-direction: row;
      justify-content: center;
    }
  }
}
