.tab-list {
  width: 100%;
  flex-direction: column;

  .content {
    width: 100%;
    border-radius: 0.6rem 0.6rem 0 0;
    cursor: pointer;
  }
}

.theme-light {
  .tab-list {
    .content {
      &.selected {
        color: var(--teal-500);
        background: var(--black-alpha-100);
      }
    }
  }
}

.theme-dark {
  .tab-list {
    .content {
      &.selected {
        color: var(--teal-400);
        background: var(--white-alpha-50);
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .tab-list {
    flex-direction: row;
  }
}
