.tab-panels {
  width: 100%;
}

.tab-panel-content {
  width: 100%;
  border-radius: 0 0 0.6rem 0.6rem;
}

.theme-light {
  .tab-panel-content {
    background: var(--black-alpha-100);
  }
}

.theme-dark {
  .tab-panel-content {
    background: var(--white-alpha-50);
  }
}
