.tab-section {
  padding: 1rem;
}

.theme-light {
  .tab-section {
    border-top: 1px solid var(--black-alpha-300);
  }
}

.theme-dark {
  .tab-section {
    border-top: 1px solid var(--white-alpha-300);
  }
}
