.tabs {
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.6rem;
}

.theme-light {
  .tabs {
    border: 1px solid var(--black-alpha-300);
  }
}

.theme-dark {
  .tabs {
    border: 1px solid var(--white-alpha-300);
  }
}
