* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body * {
  display: flex;
}

#root {
  width: 100%;
  min-height: 100vh;
}


:root {
  --transition-duration: 0.2s;

  --white: #ffffff;
  --white-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(88deg) brightness(114%) contrast(101%);
  --black: #000000;

  --white-alpha-50: rgba(255, 255, 255, 0.04);
  --white-alpha-100: rgba(255, 255, 255, 0.06);
  --white-alpha-200: rgba(255, 255, 255, 0.08);
  --white-alpha-300: rgba(255, 255, 255, 0.16);
  --white-alpha-400: rgba(255, 255, 255, 0.24);
  --white-alpha-500: rgba(255, 255, 255, 0.36);
  --white-alpha-600: rgba(255, 255, 255, 0.48);
  --white-alpha-700: rgba(255, 255, 255, 0.64);
  --white-alpha-800: rgba(255, 255, 255, 0.80);
  --white-alpha-900: rgba(255, 255, 255, 0.92);

  --black-alpha-50: rgba(0, 0, 0, 0.04);
  --black-alpha-100: rgba(0, 0, 0, 0.06);
  --black-alpha-200: rgba(0, 0, 0, 0.08);
  --black-alpha-300: rgba(0, 0, 0, 0.16);
  --black-alpha-400: rgba(0, 0, 0, 0.24);
  --black-alpha-500: rgba(0, 0, 0, 0.36);
  --black-alpha-600: rgba(0, 0, 0, 0.48);
  --black-alpha-700: rgba(0, 0, 0, 0.64);
  --black-alpha-800: rgba(0, 0, 0, 0.80);
  --black-alpha-900: rgba(0, 0, 0, 0.92);

  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-400-filter: invert(96%) sepia(73%) saturate(6078%) hue-rotate(178deg) brightness(77%) contrast(95%);
  --gray-500: #718096;
  --gray-500-filter: invert(50%) sepia(20%) saturate(398%) hue-rotate(176deg) brightness(94%) contrast(92%);
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-800-filter: invert(10%) sepia(7%) saturate(2955%) hue-rotate(182deg) brightness(92%) contrast(92%);
  --gray-900: #171923;

  --green-50: #f0fff4;
  --green-100: #c6f6d5;
  --green-200: #9ae6b4;
  --green-200-filter: invert(91%) sepia(14%) saturate(877%) hue-rotate(78deg) brightness(93%) contrast(93%);
  --green-300: #68d391;
  --green-400: #48bb78;
  --green-500: #38a169;
  --green-500-filter: invert(54%) sepia(17%) saturate(1381%) hue-rotate(95deg) brightness(96%) contrast(88%);
  --green-600: #2f855a;
  --green-700: #276749;
  --green-800: #22543d;
  --green-900: #1c4532;
  
  --teal-50: #e6fffa;
  --teal-100: #b2f5ea;
  --teal-200: #81e6d9;
  --teal-300: #4fd1c5;
  --teal-300-filter: invert(93%) sepia(99%) saturate(4938%) hue-rotate(144deg) brightness(87%) contrast(86%);
  --teal-400: #38b2ac;
  --teal-500: #319795;
  --teal-500-filter: invert(50%) sepia(9%) saturate(2568%) hue-rotate(130deg) brightness(99%) contrast(88%);
  --teal-600: #2c7a7b;
  --teal-700: #285e61;
  --teal-800: #234e52;
  --teal-900: #1d4044;

  --blue-50: #ebf8ff;
  --blue-100: #bee3f8;
  --blue-200: #90cdf4;
  --blue-300: #63b3ed;
  --blue-400: #4299e1;
  --blue-500: #3182ce;
  --blue-600: #2b6cb0;
  --blue-700: #2c5282;
  --blue-800: #2a4365;
  --blue-900: #1a365d;

  --red-50: #fff5f5;
  --red-100: #fed7d7;
  --red-200: #feb2b2;
  --red-200-filter: invert(90%) sepia(89%) saturate(3873%) hue-rotate(290deg) brightness(104%) contrast(99%);
  --red-300: #fc8181;
  --red-400: #f56565;
  --red-500: #e53e3e;
  --red-500-filter: invert(40%) sepia(54%) saturate(7021%) hue-rotate(345deg) brightness(106%) contrast(79%);
  --red-600: #c53030;
  --red-700: #9b2c2c;
  --red-800: #822727;
  --red-900: #63171b;

  --pink-50: #fff5f7;
  --pink-100: #fed7e2;
  --pink-200: #fbb6ce;
  --pink-300: #f687b3;
  --pink-400: #ed64a6;
  --pink-500: #d53f8c;
  --pink-600: #b83280;
  --pink-700: #97266d;
  --pink-800: #702459;
  --pink-900: #521b41;
}
