.icon {
  user-select: none;
  cursor: pointer;

  &.size-small {
    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
    border-radius: 0.125rem;
  }

  &.size-normal {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    min-height: 2rem;
    border-radius: 0.2rem;
  }

  &.size-big {
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    min-height: 3rem;
    border-radius: 0.3rem;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.theme-light {
  .icon.hoverable:hover {
    background: var(--gray-200);
  }

  .color-gray .image {
    filter: var(--gray-500-filter);
  }

  .color-green .image {
    filter: var(--green-500-filter);
  }

  .color-teal .image {
    filter: var(--teal-500-filter);
  }

  .color-red .image {
    filter: var(--red-500-filter);
  }
}

.theme-dark {
  .icon.hoverable:hover {
    background: var(--gray-700);
  }

  .color-gray .image {
    filter: var(--gray-400-filter);
  }

  .color-green .image {
    filter: var(--green-200-filter);
  }

  .color-teal .image {
    filter: var(--teal-300-filter);
  }

  .color-red .image {
    filter: var(--red-200-filter);
  }
}
