.text {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-align: center;

  a {
    text-decoration: none;
  }

  &.size-small {
    font-size: 1rem;
  }

  &.size-normal,
  &.size-big {
    font-size: 1.5rem;
  }

  &.size-biggest {
    font-size: 2.25rem;
  }

  &.weight-normal {
    font-weight: normal;
  }

  &.weight-bold {
    font-weight: bold;
  }

  &.opacity-full {
    opacity: 1;
  }

  &.opacity-normal {
    opacity: 0.8;
  }

  &.opacity-half {
    opacity: 0.5;
  }

  &.opacity-transparent {
    opacity: 0;
  }

  &.nowrap {
    white-space: nowrap;
  }
}

.theme-light {
  .text {
    a {
      color: var(--teal-500);
    }

    &.color-gray {
      color: var(--gray-500);
    }

    &.color-teal {
      color: var(--teal-500);
    }

    &.color-gradient {
      background: linear-gradient(90deg, var(--pink-600), var(--blue-600), var(--teal-600));
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400% 400%;

      -webkit-animation: text-gradient-light 8s ease infinite;
      -moz-animation: text-gradient-light 8s ease infinite;
      -o-animation: text-gradient-light 8s ease infinite;
      animation: text-gradient-light 8s ease infinite;
    }
  }
}

.theme-dark {
  .text {
    a {
      color: var(--teal-300);
    }

    &.color-gray {
      color: var(--gray-400);
    }

    &.color-teal {
      color: var(--teal-300);
    }

    &.color-gradient {
      background: linear-gradient(90deg, var(--pink-400), var(--blue-400), var(--teal-400));
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400% 400%;

      -webkit-animation: text-gradient-dark 8s ease infinite;
      -moz-animation: text-gradient-dark 8s ease infinite;
      -o-animation: text-gradient-dark 8s ease infinite;
      animation: text-gradient-dark 8s ease infinite;
    }
  }
}

@media screen and (min-width: 480px) {
  .text {
    &.size-normal {
      font-size: 1.25rem;
    }

    &.align-left {
      text-align: left;
      justify-content: flex-start;
    }

    &.align-right {
      text-align: right;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 768px) {
  .text {
    &.size-normal {
      font-size: 1rem;
    }
  }
}


@-webkit-keyframes text-gradient-light {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes text-gradient-light {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-o-keyframes text-gradient-light {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes text-gradient-light {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-webkit-keyframes text-gradient-dark {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes text-gradient-dark {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-o-keyframes text-gradient-dark {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes text-gradient-dark {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
