.content {
  height: 100%;
  flex-direction: column;
  align-items: center;

  & > * {
    padding: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .content > * {
    max-width: 670px;
  }
}

@media screen and (min-width: 768px) {
  .content > * {
    max-width: 670px;
  }
}

@media screen and (min-width: 992px) {
  .content > * {
    max-width: 900px;
  }
}
