.game {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.view {
  width: 180px;
  height: 180px;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
}

.arena {
  width: 100%;
  height: 180px;
  flex-direction: column;
  gap: 1px;
}

.row {
  height: 100%;
  gap: 1px;
}

.cell {
  width: 100%;
  height: 100%;
  min-width: 0.75rem;
  min-height: 0.75rem;
}

.controller-container {
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &.hidden {
    display: none;
  }
}

.controller {
  width: 150px;
  height: 150px;
  flex-wrap: wrap;
}

.key {
  width: 50px;
  height: 50px;

  &.up {
    border-radius: 1.5rem 1.5rem 0.3rem 0.3rem;
  }

  &.left {
    border-radius: 1.5rem 0.3rem 0.3rem 1.5rem;
  }

  &.right {
    border-radius: 0.3rem 1.5rem 1.5rem 0.3rem;
  }

  &.down {
    border-radius: 0.3rem 0.3rem 1.5rem 1.5rem;
  }
}

.theme-light {
  .cell {
    background: var(--black-alpha-200);
    border: 1px solid var(--black-alpha-300);
  }

  .key.active {
    background: var(--teal-500);
    border: 1px solid var(--black-alpha-300);
  }
}

.theme-dark {
  .cell {
    background: var(--white-alpha-200);
    border: 1px solid var(--white-alpha-300);
  }

  .key.active {
    background: var(--teal-300);
    border: 1px solid var(--white-alpha-300);
  }
}

@media screen and (min-width: 640px) {
  .game {
    width: 100%;
    padding: 1rem;
    flex-direction: row;
  }

  .content > .game {
    max-width: 100%;
  }

  .controller-container.hidden {
    display: flex;
  }
}

@mixin media-bp($bp) {
  @media screen and (min-width: $bp) and (min-height: calc($bp + 260px)) {
    .view {
      min-width: $bp;
      min-height: $bp;
    }

    .arena {
      min-height: $bp;
      border-radius: calc($bp / 80);
    }

    .cell {
      border-radius: calc($bp / 80);
    }
  }
}

@include media-bp(240px);
@include media-bp(280px);
@include media-bp(320px);
@include media-bp(360px);
@include media-bp(400px);
@include media-bp(440px);
