.spinner {
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--gray-800);
}

.loader {
  display: block;
  position: relative;
  height: 20px;
  width: 140px;
  background-image:
    linear-gradient(var(--gray-400) 20px, transparent 0),
    linear-gradient(var(--gray-400) 20px, transparent 0),
    linear-gradient(var(--gray-400) 20px, transparent 0),
    linear-gradient(var(--gray-400) 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 0, 40px 0, 80px 0, 120px 0;
  animation: pgfill 1s linear infinite;
}

@keyframes pgfill {
  0% {
    background-image:
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0);
  }

  25% {
    background-image:
      linear-gradient(var(--teal-300) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0);
  }

  50% {
    background-image:
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--teal-300) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0);
  }

  75% {
    background-image:
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--teal-300) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0);
  }

  100% {
    background-image:
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--gray-400) 20px, transparent 0),
      linear-gradient(var(--teal-300) 20px, transparent 0);
  }
}
