.app {
  width: 100%;
  flex-direction: column;

  &.theme-light {
    color: var(--gray-800);
    background: var(--white);
  }

  &.theme-dark {
    color: var(--white);
    background: var(--gray-800);
  }
}
